USE [SSManagementDEV]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[attendanceId] [int] IDENTITY(1,1) NOT NULL,
	[employeeId] [nvarchar](50) NULL,
	[date] [date] NULL,
	[status] [nvarchar](50) NULL,
	[remarks] [nvarchar](max) NULL,
	[createdDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[attendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyDetails]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyDetails](
	[companyId] [int] IDENTITY(1,1) NOT NULL,
	[companyName] [nvarchar](200) NULL,
	[gst_no] [nvarchar](50) NULL,
	[phoneNumber] [nvarchar](20) NULL,
	[door_no] [nvarchar](50) NULL,
	[street_Name] [nvarchar](150) NULL,
	[landmark] [nvarchar](150) NULL,
	[city] [nvarchar](100) NULL,
	[pincode] [nvarchar](20) NULL,
	[deliveryToLocations] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[companyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DC_PRINT_LOG]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DC_PRINT_LOG](
	[PrintId] [bigint] IDENTITY(1,1) NOT NULL,
	[DCNo] [nvarchar](50) NOT NULL,
	[PrintedBy] [nvarchar](150) NOT NULL,
	[PrintedDate] [datetime2](0) NOT NULL,
	[PrinterName] [nvarchar](255) NOT NULL,
	[PDFPath] [nvarchar](1000) NULL,
	[PrintStatus] [nvarchar](30) NOT NULL,
	[ReprintCount] [int] NOT NULL,
	[ErrorMessage] [nvarchar](max) NULL,
 CONSTRAINT [PK_DC_PRINT_LOG] PRIMARY KEY CLUSTERED 
(
	[PrintId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employeeId] [nvarchar](50) NULL,
	[fullName] [nvarchar](200) NULL,
	[gender] [nvarchar](20) NULL,
	[dob] [date] NULL,
	[mobileNumber] [nvarchar](20) NULL,
	[designation] [nvarchar](100) NULL,
	[joiningDate] [date] NULL,
	[monthlySalary] [decimal](18, 2) NULL,
	[dailySalary] [decimal](18, 2) NULL,
	[incentive] [decimal](18, 2) NULL,
	[bankName] [nvarchar](150) NULL,
	[accountNumber] [nvarchar](50) NULL,
	[ifscCode] [nvarchar](20) NULL,
	[createdDate] [datetime] NULL,
	[maritalStatus] [nvarchar](50) NULL,
	[nationality] [nvarchar](50) NULL,
	[employeeType] [nvarchar](50) NULL,
	[workLocation] [nvarchar](100) NULL,
	[aadhaarNumber] [nvarchar](20) NULL,
	[panNumber] [nvarchar](20) NULL,
	[referralCode] [nvarchar](50) NULL,
	[accountHolderName] [nvarchar](200) NULL,
	[branchName] [nvarchar](150) NULL,
	[upiId] [nvarchar](100) NULL,
	[accountType] [nvarchar](50) NULL,
	[permanentAddress] [nvarchar](max) NULL,
	[currentAddress] [nvarchar](max) NULL,
	[city] [nvarchar](100) NULL,
	[state] [nvarchar](100) NULL,
	[country] [nvarchar](100) NULL,
	[pincode] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[employeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoamMaster]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoamMaster](
	[FoamId] [int] IDENTITY(1,1) NOT NULL,
	[FoamType] [nvarchar](100) NOT NULL,
	[Thickness] [nvarchar](50) NOT NULL,
	[Colour] [nvarchar](50) NULL,
	[Density] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FoamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_Foam] UNIQUE NONCLUSTERED 
(
	[FoamType] ASC,
	[Thickness] ASC,
	[Colour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryAuditHistory]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryAuditHistory](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[AuditDate] [datetime] NOT NULL,
	[InventoryId] [int] NOT NULL,
	[ActionType] [nvarchar](50) NOT NULL,
	[OldQty] [int] NULL,
	[NewQty] [int] NULL,
	[Description] [nvarchar](1000) NULL,
	[User] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryStockEntry]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryStockEntry](
	[InventoryId] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[ItemId] [int] NOT NULL,
	[SupplierId] [int] NULL,
	[WarehouseId] [int] NULL,
	[SKU] [nvarchar](100) NOT NULL,
	[PurchaseType] [nvarchar](50) NOT NULL,
	[ConesPerBox] [int] NULL,
	[TotalBoxes] [int] NULL,
	[DirectConeCount] [int] NULL,
	[TotalPurchasedCones] [int] NOT NULL,
	[IssuedCones] [int] NOT NULL,
	[UsedCones] [int] NOT NULL,
	[RemainingCones] [int] NOT NULL,
	[MinStockAlert] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inward]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inward](
	[InwardId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[Colour] [nvarchar](100) NOT NULL,
	[DesignName] [nvarchar](150) NOT NULL,
	[StyleNo] [nvarchar](100) NOT NULL,
	[UploadURL] [nvarchar](500) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[InwardDcNo] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[InwardEntryType] [char](1) NOT NULL,
	[PoNo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[InwardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INWARD_METER_DETAIL]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INWARD_METER_DETAIL](
	[IMD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IMD_INWARD_ID] [int] NOT NULL,
	[IMD_COMPANY_ID] [int] NULL,
	[IMD_STYLE_ID] [int] NULL,
	[IMD_DESIGN_ID] [int] NULL,
	[IMD_METER_VALUE] [decimal](18, 3) NOT NULL,
	[IMD_BITS_COUNT] [decimal](18, 3) NOT NULL,
	[IMD_TOTAL_METER] [decimal](18, 3) NOT NULL,
	[IMD_CREATED_BY] [int] NULL,
	[IMD_CREATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IMD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InwardSizeCount]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InwardSizeCount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InwardId] [int] NOT NULL,
	[StyleNo] [nvarchar](100) NOT NULL,
	[DesignName] [nvarchar](150) NOT NULL,
	[Colour] [nvarchar](100) NOT NULL,
	[Size] [nvarchar](max) NULL,
	[Count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineMaster]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineMaster](
	[MachineId] [int] IDENTITY(1,1) NOT NULL,
	[MachineNo] [nvarchar](50) NOT NULL,
	[ModelName] [nvarchar](100) NULL,
	[HeadCount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MachineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MachineNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machines]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machines](
	[machineId] [int] IDENTITY(1,1) NOT NULL,
	[machineName] [nvarchar](100) NULL,
	[capacity] [int] NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[machineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialIssue]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialIssue](
	[IssueId] [int] IDENTITY(1,1) NOT NULL,
	[IssueDate] [datetime] NOT NULL,
	[WorkerId] [int] NOT NULL,
	[MachineId] [int] NOT NULL,
	[InventoryId] [int] NOT NULL,
	[IssueQty] [int] NOT NULL,
	[DesignNo] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IssueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialReturn]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialReturn](
	[ReturnId] [int] IDENTITY(1,1) NOT NULL,
	[ReturnDate] [datetime] NOT NULL,
	[IssueId] [int] NOT NULL,
	[ReturnQty] [int] NOT NULL,
	[DamagedQty] [int] NOT NULL,
	[ReturnType] [nvarchar](50) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReturnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NeedleMaster]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NeedleMaster](
	[NeedleId] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](100) NOT NULL,
	[NeedleSystem] [nvarchar](100) NOT NULL,
	[NeedleSize] [nvarchar](50) NOT NULL,
	[PointType] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NeedleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_Needle] UNIQUE NONCLUSTERED 
(
	[NeedleSystem] ASC,
	[NeedleSize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Outward]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Outward](
	[OutwardId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[Colour] [nvarchar](50) NULL,
	[DesignName] [nvarchar](100) NULL,
	[StyleNo] [nvarchar](50) NULL,
	[UploadURL] [nvarchar](255) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[OutwardDcNo] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[OutwardEntryType] [char](1) NOT NULL,
	[DeliveryTo] [nvarchar](150) NULL,
	[PoNo] [nvarchar](100) NULL,
	[Weight] [nvarchar](100) NULL,
	[NoOfBundles] [nvarchar](100) NULL,
	[SelectedDcNos] [nvarchar](max) NULL,
	[Remarks] [nvarchar](max) NULL,
	[OutwardDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OutwardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OUTWARD_METER_DETAIL]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OUTWARD_METER_DETAIL](
	[OMD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[OMD_OUTWARD_ID] [bigint] NOT NULL,
	[OMD_COMPANY_ID] [bigint] NULL,
	[OMD_STYLE_ID] [bigint] NULL,
	[OMD_DESIGN_ID] [bigint] NULL,
	[OMD_METER_VALUE] [decimal](18, 3) NOT NULL,
	[OMD_BITS_COUNT] [decimal](18, 3) NOT NULL,
	[OMD_TOTAL_METER] [decimal](18, 3) NOT NULL,
	[OMD_CREATED_BY] [bigint] NULL,
	[OMD_CREATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OMD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutwardColour]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutwardColour](
	[OutwardColourId] [int] IDENTITY(1,1) NOT NULL,
	[OutwardId] [int] NOT NULL,
	[Colour] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OutwardColourId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutwardSizeCount]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutwardSizeCount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OutwardId] [int] NOT NULL,
	[StyleNo] [nvarchar](50) NULL,
	[DesignName] [nvarchar](100) NULL,
	[Colour] [nvarchar](50) NULL,
	[Size] [nvarchar](max) NULL,
	[Count] [int] NULL,
	[OutwardColourId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll](
	[payrollId] [int] IDENTITY(1,1) NOT NULL,
	[employeeId] [nvarchar](50) NULL,
	[month] [int] NULL,
	[year] [int] NULL,
	[presentDays] [decimal](18, 2) NULL,
	[dailySalary] [decimal](18, 2) NULL,
	[incentive] [decimal](18, 2) NULL,
	[totalSalary] [decimal](18, 2) NULL,
	[isPaid] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[payrollId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrintJobs]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrintJobs](
	[JobId] [nvarchar](50) NOT NULL,
	[DocumentType] [nvarchar](50) NOT NULL,
	[DocumentNumber] [nvarchar](50) NOT NULL,
	[PdfPath] [nvarchar](max) NOT NULL,
	[PrinterName] [nvarchar](255) NULL,
	[Copies] [int] NOT NULL,
	[PaperSize] [nvarchar](50) NULL,
	[Orientation] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[RetryCount] [int] NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
	[CompanyId] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CompletedDate] [datetime] NULL,
	[FailureReason] [nvarchar](max) NULL,
	[Downloaded] [bit] NOT NULL,
	[Printed] [bit] NOT NULL,
 CONSTRAINT [PK_PrintJobs] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RateQuotation]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RateQuotation](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[QuotationNo] [nvarchar](50) NOT NULL,
	[QuotationDate] [datetime] NOT NULL,
	[CompanyId] [bigint] NOT NULL,
	[CompanyName] [nvarchar](200) NOT NULL,
	[ContactPerson] [nvarchar](200) NULL,
	[MobileNo] [nvarchar](20) NULL,
	[EmailId] [nvarchar](200) NULL,
	[Address] [nvarchar](max) NULL,
	[StyleNo] [nvarchar](100) NULL,
	[DesignName] [nvarchar](200) NULL,
	[ProductType] [nvarchar](100) NULL,
	[RatePerPiece] [decimal](18, 2) NULL,
	[RatePerMeter] [decimal](18, 2) NULL,
	[Quantity] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Remarks] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [bigint] NULL,
	[ModifiedDate] [datetime] NULL,
	[NoOfStitches] [int] NULL,
	[ChenilleColors] [int] NULL,
	[NormalEmbColors] [int] NULL,
 CONSTRAINT [PK_RateQuotation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftAssignments]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftAssignments](
	[assignmentId] [int] IDENTITY(1,1) NOT NULL,
	[employeeId] [nvarchar](50) NULL,
	[shiftId] [int] NULL,
	[machineId] [int] NULL,
	[assignmentDate] [date] NULL,
	[createdDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[assignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[shiftId] [int] IDENTITY(1,1) NOT NULL,
	[shiftName] [nvarchar](50) NULL,
	[startTime] [time](7) NULL,
	[endTime] [time](7) NULL,
	[color] [nvarchar](20) NULL,
	[icon] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[shiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockAdjustment]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockAdjustment](
	[AdjustmentId] [int] IDENTITY(1,1) NOT NULL,
	[AdjustmentDate] [datetime] NOT NULL,
	[InventoryId] [int] NOT NULL,
	[AdjustmentType] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Reason] [nvarchar](500) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdjustmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierMaster]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierMaster](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](150) NOT NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[MobileNo] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThreadMaster]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThreadMaster](
	[ThreadId] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](100) NOT NULL,
	[ThreadSeries] [nvarchar](50) NULL,
	[ShadeName] [nvarchar](100) NOT NULL,
	[ShadeCode] [nvarchar](50) NOT NULL,
	[ColourFamily] [nvarchar](50) NULL,
	[ThreadType] [nvarchar](50) NOT NULL,
	[FinishType] [nvarchar](50) NULL,
	[ConeSize] [nvarchar](50) NULL,
	[Thickness] [nvarchar](50) NULL,
	[SupplierId] [int] NULL,
	[Barcode] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ThreadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ShadeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](150) NULL,
	[password] [nvarchar](250) NULL,
	[createdBy] [nvarchar](100) NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarehouseMaster]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseMaster](
	[WarehouseId] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseName] [nvarchar](150) NOT NULL,
	[Location] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[WarehouseName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkerMaster]    Script Date: 02-07-2026 23:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkerMaster](
	[WorkerId] [int] IDENTITY(1,1) NOT NULL,
	[WorkerName] [nvarchar](150) NOT NULL,
	[Designation] [nvarchar](100) NULL,
	[Shift] [nvarchar](50) NULL,
	[MobileNo] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[DC_PRINT_LOG] ADD  CONSTRAINT [DF_DC_PRINT_LOG_PrintedDate]  DEFAULT (sysutcdatetime()) FOR [PrintedDate]
GO
ALTER TABLE [dbo].[DC_PRINT_LOG] ADD  CONSTRAINT [DF_DC_PRINT_LOG_ReprintCount]  DEFAULT ((0)) FOR [ReprintCount]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [incentive]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('Indian') FOR [nationality]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('Full Time') FOR [employeeType]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('Savings') FOR [accountType]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('India') FOR [country]
GO
ALTER TABLE [dbo].[FoamMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FoamMaster] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[InventoryAuditHistory] ADD  DEFAULT (getdate()) FOR [AuditDate]
GO
ALTER TABLE [dbo].[InventoryStockEntry] ADD  DEFAULT ((0)) FOR [IssuedCones]
GO
ALTER TABLE [dbo].[InventoryStockEntry] ADD  DEFAULT ((0)) FOR [UsedCones]
GO
ALTER TABLE [dbo].[InventoryStockEntry] ADD  DEFAULT ((5)) FOR [MinStockAlert]
GO
ALTER TABLE [dbo].[InventoryStockEntry] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[InventoryStockEntry] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Inward] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Inward] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Inward] ADD  DEFAULT ('S') FOR [InwardEntryType]
GO
ALTER TABLE [dbo].[INWARD_METER_DETAIL] ADD  DEFAULT (getdate()) FOR [IMD_CREATED_DATE]
GO
ALTER TABLE [dbo].[MachineMaster] ADD  DEFAULT ((1)) FOR [HeadCount]
GO
ALTER TABLE [dbo].[MachineMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MachineMaster] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((4)) FOR [capacity]
GO
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[MaterialIssue] ADD  DEFAULT (getdate()) FOR [IssueDate]
GO
ALTER TABLE [dbo].[MaterialIssue] ADD  DEFAULT ('Issued') FOR [Status]
GO
ALTER TABLE [dbo].[MaterialIssue] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MaterialReturn] ADD  DEFAULT (getdate()) FOR [ReturnDate]
GO
ALTER TABLE [dbo].[MaterialReturn] ADD  DEFAULT ((0)) FOR [DamagedQty]
GO
ALTER TABLE [dbo].[MaterialReturn] ADD  DEFAULT ('Normal') FOR [ReturnType]
GO
ALTER TABLE [dbo].[MaterialReturn] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[NeedleMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[NeedleMaster] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Outward] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Outward] ADD  DEFAULT ('S') FOR [OutwardEntryType]
GO
ALTER TABLE [dbo].[OUTWARD_METER_DETAIL] ADD  DEFAULT (getdate()) FOR [OMD_CREATED_DATE]
GO
ALTER TABLE [dbo].[OutwardColour] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Payroll] ADD  DEFAULT ((0)) FOR [isPaid]
GO
ALTER TABLE [dbo].[PrintJobs] ADD  DEFAULT ((1)) FOR [Copies]
GO
ALTER TABLE [dbo].[PrintJobs] ADD  DEFAULT ((0)) FOR [RetryCount]
GO
ALTER TABLE [dbo].[PrintJobs] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PrintJobs] ADD  DEFAULT ((0)) FOR [Downloaded]
GO
ALTER TABLE [dbo].[PrintJobs] ADD  DEFAULT ((0)) FOR [Printed]
GO
ALTER TABLE [dbo].[RateQuotation] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[RateQuotation] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RateQuotation] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ShiftAssignments] ADD  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[StockAdjustment] ADD  DEFAULT (getdate()) FOR [AdjustmentDate]
GO
ALTER TABLE [dbo].[StockAdjustment] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SupplierMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SupplierMaster] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ThreadMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ThreadMaster] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [updatedDate]
GO
ALTER TABLE [dbo].[WarehouseMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[WarehouseMaster] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[WorkerMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[WorkerMaster] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Employee] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Employees] ([employeeId])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Employee]
GO
ALTER TABLE [dbo].[InventoryStockEntry]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[SupplierMaster] ([SupplierId])
GO
ALTER TABLE [dbo].[InventoryStockEntry] CHECK CONSTRAINT [FK_Inventory_Supplier]
GO
ALTER TABLE [dbo].[InventoryStockEntry]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Warehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[WarehouseMaster] ([WarehouseId])
GO
ALTER TABLE [dbo].[InventoryStockEntry] CHECK CONSTRAINT [FK_Inventory_Warehouse]
GO
ALTER TABLE [dbo].[Inward]  WITH CHECK ADD  CONSTRAINT [FK_Inward_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[CompanyDetails] ([companyId])
GO
ALTER TABLE [dbo].[Inward] CHECK CONSTRAINT [FK_Inward_Company]
GO
ALTER TABLE [dbo].[INWARD_METER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_InwardMeterDetail_Inward] FOREIGN KEY([IMD_INWARD_ID])
REFERENCES [dbo].[Inward] ([InwardId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[INWARD_METER_DETAIL] CHECK CONSTRAINT [FK_InwardMeterDetail_Inward]
GO
ALTER TABLE [dbo].[InwardSizeCount]  WITH CHECK ADD  CONSTRAINT [FK_InwardSizeCount_Inward] FOREIGN KEY([InwardId])
REFERENCES [dbo].[Inward] ([InwardId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InwardSizeCount] CHECK CONSTRAINT [FK_InwardSizeCount_Inward]
GO
ALTER TABLE [dbo].[MaterialIssue]  WITH CHECK ADD  CONSTRAINT [FK_Issue_Inventory] FOREIGN KEY([InventoryId])
REFERENCES [dbo].[InventoryStockEntry] ([InventoryId])
GO
ALTER TABLE [dbo].[MaterialIssue] CHECK CONSTRAINT [FK_Issue_Inventory]
GO
ALTER TABLE [dbo].[MaterialIssue]  WITH CHECK ADD  CONSTRAINT [FK_Issue_Machine] FOREIGN KEY([MachineId])
REFERENCES [dbo].[MachineMaster] ([MachineId])
GO
ALTER TABLE [dbo].[MaterialIssue] CHECK CONSTRAINT [FK_Issue_Machine]
GO
ALTER TABLE [dbo].[MaterialIssue]  WITH CHECK ADD  CONSTRAINT [FK_Issue_Worker] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[WorkerMaster] ([WorkerId])
GO
ALTER TABLE [dbo].[MaterialIssue] CHECK CONSTRAINT [FK_Issue_Worker]
GO
ALTER TABLE [dbo].[MaterialReturn]  WITH CHECK ADD  CONSTRAINT [FK_Return_Issue] FOREIGN KEY([IssueId])
REFERENCES [dbo].[MaterialIssue] ([IssueId])
GO
ALTER TABLE [dbo].[MaterialReturn] CHECK CONSTRAINT [FK_Return_Issue]
GO
ALTER TABLE [dbo].[OutwardColour]  WITH CHECK ADD FOREIGN KEY([OutwardId])
REFERENCES [dbo].[Outward] ([OutwardId])
GO
ALTER TABLE [dbo].[OutwardSizeCount]  WITH CHECK ADD  CONSTRAINT [FK_OutwardSizeCount_Outward] FOREIGN KEY([OutwardId])
REFERENCES [dbo].[Outward] ([OutwardId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OutwardSizeCount] CHECK CONSTRAINT [FK_OutwardSizeCount_Outward]
GO
ALTER TABLE [dbo].[OutwardSizeCount]  WITH CHECK ADD  CONSTRAINT [FK_OutwardSizeCount_OutwardColour] FOREIGN KEY([OutwardColourId])
REFERENCES [dbo].[OutwardColour] ([OutwardColourId])
GO
ALTER TABLE [dbo].[OutwardSizeCount] CHECK CONSTRAINT [FK_OutwardSizeCount_OutwardColour]
GO
ALTER TABLE [dbo].[Payroll]  WITH CHECK ADD  CONSTRAINT [FK_Payroll_Employee] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Employees] ([employeeId])
GO
ALTER TABLE [dbo].[Payroll] CHECK CONSTRAINT [FK_Payroll_Employee]
GO
ALTER TABLE [dbo].[ShiftAssignments]  WITH CHECK ADD  CONSTRAINT [FK_ShiftAssign_Employee] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Employees] ([employeeId])
GO
ALTER TABLE [dbo].[ShiftAssignments] CHECK CONSTRAINT [FK_ShiftAssign_Employee]
GO
ALTER TABLE [dbo].[ShiftAssignments]  WITH CHECK ADD  CONSTRAINT [FK_ShiftAssign_Machine] FOREIGN KEY([machineId])
REFERENCES [dbo].[Machines] ([machineId])
GO
ALTER TABLE [dbo].[ShiftAssignments] CHECK CONSTRAINT [FK_ShiftAssign_Machine]
GO
ALTER TABLE [dbo].[ShiftAssignments]  WITH CHECK ADD  CONSTRAINT [FK_ShiftAssign_Shift] FOREIGN KEY([shiftId])
REFERENCES [dbo].[Shifts] ([shiftId])
GO
ALTER TABLE [dbo].[ShiftAssignments] CHECK CONSTRAINT [FK_ShiftAssign_Shift]
GO
ALTER TABLE [dbo].[StockAdjustment]  WITH CHECK ADD  CONSTRAINT [FK_Adjustment_Inventory] FOREIGN KEY([InventoryId])
REFERENCES [dbo].[InventoryStockEntry] ([InventoryId])
GO
ALTER TABLE [dbo].[StockAdjustment] CHECK CONSTRAINT [FK_Adjustment_Inventory]
GO
ALTER TABLE [dbo].[ThreadMaster]  WITH CHECK ADD  CONSTRAINT [FK_Thread_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[SupplierMaster] ([SupplierId])
GO
ALTER TABLE [dbo].[ThreadMaster] CHECK CONSTRAINT [FK_Thread_Supplier]
GO
ALTER TABLE [dbo].[InventoryStockEntry]  WITH CHECK ADD  CONSTRAINT [CK_RemainingCones] CHECK  (([RemainingCones]>=(0)))
GO
ALTER TABLE [dbo].[InventoryStockEntry] CHECK CONSTRAINT [CK_RemainingCones]
GO
ALTER TABLE [dbo].[InventoryStockEntry]  WITH CHECK ADD  CONSTRAINT [CK_TotalPurchasedCones] CHECK  (([TotalPurchasedCones]>=(0)))
GO
ALTER TABLE [dbo].[InventoryStockEntry] CHECK CONSTRAINT [CK_TotalPurchasedCones]
GO
ALTER TABLE [dbo].[InwardSizeCount]  WITH CHECK ADD CHECK  (([Count]>=(0)))
GO
